<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='homePage.css') }}">
</head>
<body>
    <div class='title'>
        歡迎光臨，這是會員頁
    </div>
    <div class='message'>
        <b>{{ name }}，歡迎登入系統</b>
        <br>
        <a href="/signout">登出系統</a>
    </div>
    
</body>
</html>