<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='homePage.css') }}">
</head>
<body>
    <div class='title'>
        歡迎光臨，請註冊登入系統
    </div>
    <div class='message'>
        <b>註冊帳號</b>
    </div>
    <form action="/signup" class='form' method='POST'>
        姓名 <input type="text" name='name'>
        <br>
        帳號 <input type="text" name='username'>
        <br>
        密碼 <input type="password" name="password">
        <br>
        <button>註冊</button>
    </form>
    <hr>
    <div class='message'>
        <b>登入系統</b>
    </div>
    <form action="/signin" class='form' method='POST'>
        帳號 <input type="text" name='userName'>
        <br>
        密碼 <input type="password" name="Password">
        <br>
        <button>登入</button>
    </form>
    
</body>
</html>