<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='homePage.css') }}">
    
</head>
<body>
    <div class='title'>
        歡迎光臨，這是會員頁
    </div>
    <div class='message'>
        <b id="new_name">{{ name }}，歡迎登入系統</b>
        <br>
        <a href="/signout">登出系統</a>
    </div>
    <div class="message">
        <b>查詢會員姓名</b>
        <br>
        <form class='form'>
            <input type="text" id="member_name">
            <button id="btn">查詢</button>
        </form>
    </div>
    <div class="message">
        <p id="name_username_show"></p>
    </div>
    <div class="message">
        <b>更新我的姓名</b>
        <br>
        <form class='form' action="/update_username" method="POST">
            <input type="text" id="update_member_name" name="update_member_name" placeholder="輸入新的姓名">
            <button id="btn_update">更新</button>
        </form>
    </div>
    <div class="message">
        <p id="update_succeed"></p>
    </div>
    <script>

        // ajax fetch

        // demand 2
        let btn = document.querySelector('#btn');
        btn.addEventListener('click', function(e){
            e.preventDefault(); 
            let user_name = document.querySelector('#member_name');
            let json_api = 'http://127.0.0.1:3000/api/members?username='+user_name.value;
            fetch(json_api)
            .then(function (response){
                return response.json();
            })
            .then(function (result){
                try{
                    let Name = result.data.name;
                    let text = `${Name} (${user_name.value})`;
                    document.getElementById('name_username_show').innerText = text;
                }
                catch(e){
                    let text = '無此會員';
                    document.getElementById('name_username_show').innerText = text;
                }
                
            }, false);
        });
        
        // demand 3
        let btn_2 = document.querySelector('#btn_update');
        btn_2.addEventListener('click', function(e){
            e.preventDefault(); 
            let new_name = {"name":''};
            let update_user_name = document.querySelector('#update_member_name');
            new_name.name = update_user_name.value;
            fetch('http://127.0.0.1:3000/update_username',{
                method: 'post',
                body: JSON.stringify(new_name),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function (response){ // 傳回來的就是json, 不必再.json()
                return response;
            })
            .then(function (result){
                try{
                    let ok = result.ok;
                    // update username in html and show update success
                    let text = '更新成功';
                    document.getElementById('update_succeed').innerText = text;
                    document.getElementById('new_name').innerText = `${update_user_name.value}，歡迎登入系統`;
                    update_user_name.value = '';
                }
                catch(e){
                    console.log('error');
                }

            }, false);
        });

    </script>
</body>
</html>